.app-container {
    text-align: center;
}

.each-user-container {
    background-color: aquamarine;
    border-radius: 20px;
    height: 230px;
    width: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.users-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}